@model AzureManager.Web.Models.RegistrationCheck
@{
  ViewBag.Title = "Index";
}
<script type="text/javascript">
  $().ready(function () {
    $("input:first").focus();
    $("input:first").select();
  });

  function nextField(sender) {
    if (event.keyCode == 9 || event.keyCode == 8 || event.keyCode == 46 || event.keyCode == 16) {
      return true;
    }

    var $selectedInput = $(sender);
    var inputs = $("#pinDiv").find("input:text");
    $input = inputs.eq(inputs.index($selectedInput) + 1);
    $input.focus();
    return true;
  }

  function selectText(sender) {
    $(sender).select();
  }

</script>
<style type="text/css">
  input[type=text]
  {
    float: left;
    width: 30px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    margin: 2px;
  }
  
  input[type=text]:focus
  {
    border: 2px solid navy;
  }
</style>
<h2>
  Welcome to the Azure Manager</h2>
<button class="large" onclick="document.location='@Url.Action("AccessCode")'">
  I have an access code</button>
<button class="large">
  I don't have an access code</button>