@{
  ViewBag.Title = "NoMatch";
}
<h2>
  Sorry, No Match Found</h2>
<p>
  That registration code either doesn't exist or has been used already and is no longer
  valid. If you've just registered your device, please try again.
</p>
@Html.ActionLink("Go back", "Index")
