body
{
  font-size: 16px;
  font-family: "Segoe UI" , Verdana, Helvetica, Sans-Serif;
  color: #232323;
  background-color: #fff;
}

#main
{
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#main h2
{
  font-size: 32px;
  font-weight: normal;
}

button
{
  background-color: Navy;
  color: White;
  border: 0px;
  padding: 8px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 18px;
  border: 1px solid navy;
}

button:hover
{
  background-color: #FFFFFF;
  color: Navy;
  border: 1px solid navy;
  cursor: pointer;
}

header, footer, nav, section
{
  display: block;
}

.footer
{
  margin-top: 40px;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
  color: #ff0000;
}

.field-validation-valid
{
  display: none;
}

.input-validation-error
{
  border: 1px solid #ff0000;
  background-color: #ffeeee;
}

.validation-summary-errors
{
  font-weight: bold;
  color: #ff0000;
}

.validation-summary-valid
{
  display: none;
}

.step
{
  background-color: Navy;
  color: #FFFFFF;
  text-align: center;
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 15px;
}

label
{
  display: block;
  width: 150px;
  float: left;
}

input
{
  padding: 5px;
}

button.large
{
  width: 397px;
}
